@{
    ViewData["Title"] = "Home Page";
}


<h1>Hello, world!</h1>
<p>Welcome to my .net core 2.0 mvc application, built with:</p>
<ul>
    <li>ASP.NET Core and C# for cross-platform server-side code</li>
    <li>......... for client-side code</li>
    <li>.. for building and bundling client-side resources</li>
    <li>Bootstrap for layout and styling</li>
</ul>