@{
    ViewData["Title"] = "Contact Me";
}
<h2>@ViewData["Title"]</h2>

<address>
    64 Kunene Crescent<br />
    Delft, Cape town<br />
    7100 <br />
    <abbr title="Phone">P:</abbr>
    060 047 8421
</address>

<address>
    <strong>Contact:</strong> <a href="mailto:ntshewulap@gmail.com">ntshewulap@gmail.com</a><br />
</address>
