@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h1>Hello, world!</h1>
    <p>Welcome to my .NET Core 2.0 Web Application, built with:</p>
    <ul>
        <li>ASP.NET Core and C# for cross-platform server-side code</li>
        <li>Bootstrap for layout and styling</li>
        <li>Sql Server with Entity Framework for database</li>
        <li>ASP NET Core Identy for Authorization</li>
    </ul>


    <p>
        The application uses <a href="https://datatables.net/">DataTables plug-in</a> for jQuery JavaScrip library,
        adding sorting, paging, and filtering capabilities to plain HTML tables with minimal effort: To display list of users.
    </p>
</div>
