@{
    ViewData["Title"] = "Home Page";
}

<h1>Hello, world!</h1>
<p>Welcome to my .NET Core 2.0 Web Application, built with:</p>
<ul>
    <li>ASP.NET Core and C# for cross-platform server-side code</li>
    <li>Bootstrap for layout and styling</li>
    <li>Sql Server with Entiry Framework for database</li>
    <li>ASP NET Core Identy for Authorization</li>
</ul>


<div class="row">

</div>
